{% extends "base.jinja" %}

{% block title %} - Éves{% endblock %}
{% block nav_yearly_class %}active{% endblock %}

{% block content %}
  {% with data=yearly %}
    {% include "chart.jinja" %}
  {% endwith %}
{% endblock %}
