{% extends "base.jinja" %}

{% block title %} - Havi{% endblock %}
{% block nav_monthly_class %}active{% endblock %}

{% block content %}
  {% with data=monthly %}
    {% include "chart.jinja" %}
  {% endwith %}
{% endblock %}
