name: Update GH pages with latest data
on:
  workflow_dispatch:

jobs:
  main:
    runs-on: ubuntu-20.04
    outputs:
      are_we_dirty:
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          cache: 'pip'
      - run: pip install -r requirements.txt
      - run: python core.py
      - run: git diff --quiet || echo 'ARE_WE_DIRTY=yep' >> $GITHUB_ENV
      - run: echo "are we dirty? $ARE_WE_DIRTY"
      - run: |
          git config --global user.name "GH"
          git config --global user.email "gh@gh.gh"
      - run: |
          git add sources/*
          git commit -m "generated via GH actions"
          git push
        if: ${{ env.ARE_WE_DIRTY == 'yep' }}
      - run: |
          cp -v build/*.html /tmp/
          git checkout release
          cp -v /tmp/*.html .
          git diff --quiet || echo 'ARE_WE_DIRTY_ON_RELEASE=yep' >> $GITHUB_ENV
          echo "are we dirty on release branch? $ARE_WE_DIRTY_ON_RELEASE"
      - run: |
          git add *.html
          git commit -m "generated via GH actions"
          git push
        if: ${{ env.ARE_WE_DIRTY_ON_RELEASE == 'yep' }}
